@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: relative;
    height: 100vh;

    .header__title {
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        max-width: 467px;
        opacity: 0.07;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }

    .header__arrows {
        position: absolute;
        bottom: 30px;
        left: 210px;
        z-index: 3;
    }

    .header__map {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;

        .line-animation {
            stroke-dashoffset: 600;
            stroke-dasharray: 600;
            animation: animdash 5s infinite 6s;
        }

        @keyframes animdash {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    .header__aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-right: 1px solid rgba(#fff, 0.25);
        height: 100vh;
        text-align: center;


        &-menu {
            padding-top: 40px;
            text-transform: capitalize;

            a span {
                display: block;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 3px;
                padding-top: 6px;
                margin-bottom: 22px;
            }

        }

        &-search {
            padding-top: 15px;
            padding-bottom: 35px;
        }

        &-date {
            font-weight: 800;
            font-size: 72px;
            line-height: 64px;

            span {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 1.4px;
                display: block;
                margin-bottom: 30px;
                padding-top: 15px;
            }
        }

        &-location {
            display: inline-block;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.05px;
            position: relative;
            padding-left: 19px;
            text-transform: capitalize;

            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 13px;
                background: url(../images/map-marker.svg);
                left: 0;
                top: 0;
            }
        }
    }

    .header__slider {
        &-item {
            height: 100vh;
            background-image: url(../images/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .slider-item__info {
            position: absolute;
            right: 80px;
            bottom: 116px;
            text-align: right;

            .slider-item__info-subtitle {
                margin-bottom: 5px;
            }

            .slider-item__info-title {
                font-weight: 800;
                font-size: 80px;
                line-height: 86px;
                margin-bottom: 48px;
            }

            .slider-item__info-subtext {
                margin-bottom: 8px;
            }

            .slider-item__info-text {
                font-weight: 800;
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 20px;
            }

        }

    }

    .slider-dots {
        position: absolute;
        bottom: 38px;
        right: 50px;
        max-width: 920px;
        width: 100%;
        text-transform: capitalize;


        .slick-current {
            .dots-box {
                border-top: 4px solid $green;
            }
        }

        &__item {
            cursor: pointer;

            .dots-box {
                width: 200px;
                display: flex;
                justify-content: space-between;
                height: 28px;
                align-items: center;
                border-top: 4px solid #fff;
                padding-top: 6px;

                &__number {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 34px;
                }

                &__name {
                    font-weight: 300;
                    line-height: 19px;
                }
            }
        }
    }
}

.surf {

    background-image: url(../images/surf-poi.png);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;

    &__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }

    .slider__surf-map {
        width: 1200px;
        min-height: 635px;
        background-image: url(../images/worldmapdots.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        position: relative;



        .slider__surf-item {
            position: relative;
        }

        .slick-list {
            min-height: 635px;
        }

        .slick-current {
            .surf-item__content {
                display: block;
                width: 285px;
                padding: 28px 31px 31px 32px;
            }
        }

        .surf-item__circle {
            width: 24px;
            height: 24px;
            background-color: $green;
            border-radius: 50%;
            cursor: pointer;
        }

        .slider__surf-dots--01 {
            top: 335px;
            left: 0;

            .surf-item__content {
                transform: translateX(0);

                &::before {
                    left: 0;
                }
            }
        }

        .slider__surf-dots--02 {
            top: 295px;
            left: 0;

            .surf-item__circle {
                position: relative;


                &::before {
                    content: "";
                    background-image: url(../images/map-marker-small.png);
                    position: absolute;
                    width: 14px;
                    height: 17px;
                    background-size: cover;

                    top: -20px;
                    right: -20px;

                }
            }
        }

        .slider__surf-dots--03 {
            top: 320px;
            left: 30px;
        }

        .slider__surf-dots--04 {
            top: 500px;
            left: -40px;
        }

        .slider__surf-dots--05 {
            top: 215px;
            left: -70px;
        }

        .slider__surf-dots--06 {
            top: 560px;
            left: -115px;
        }

        .slider__surf-dots--07 {
            top: 390px;
            left: -100px;
        }

        .slider__surf-dots--08 {
            top: 500px;
            left: 40px;

            .surf-item__content {
                transform: translateX(-261px);

                &::before {
                    right: 0;
                    left: auto;
                }
            }
        }

        .surf-item__content {
            display: none;
            background: rgba(#0F1010, 0.7);
            border-radius: 6px;
            position: absolute;
            bottom: 35px;
            transform: translateX(-50%);

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 20px solid $green;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                bottom: -20px;
                left: 50%;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;

            }

            &-row {
                display: flex;
                justify-content: space-between;

                .surf-item__content-title {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 26px;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: $green;
                        width: 80px;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                    }

                }

                .surf-item__content-subtitle {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                }

                .surf-item__content-item {
                    text-align: center;



                    img {
                        margin-bottom: 7px;

                    }

                    .surf-item__content-num {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 23px;
                        margin-bottom: 8px;
                    }

                    .surf-item__content-name {
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }

    }

    .surf-slider {
        padding-top: 110px;

        .slider-arrows {
            top: 50px;
            opacity: .25;
        }

        .slick-slide:nth-child(4n + 1) {
            .surf-box {
                margin-top: 32px;
            }
        }

        .slick-slide:nth-child(4n + 3) {
            .surf-box {
                margin-top: 89px;
            }
        }


        .slick-current {
            .btn {
                display: block;
            }

            .surf-box__inner {
                background: rgba(#1C2121, 0.3);
            }
        }
    }

    &-box {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        &__inner {
            min-height: 750px;
            background: rgba(#1C2121, 0.85);
            position: relative;
            transition: all 0.5s;

            &:hover {
                background: rgba(#1C2121, 0.3);
            }

            &-title {
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding: 72px 0 0 40px;
                width: 140px;
            }

            &-location {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                transform: rotate(-90deg);
                position: absolute;
                width: 0;
                height: 0;
                left: 40px;
                bottom: 80px;
                white-space: nowrap;

                span {
                    font-weight: 100;
                }
            }

            &-btn {
                position: absolute;
                bottom: 0;
                text-align: center;
                right: 0;
                left: 0;
            }
        }

    }

}


.travel {
    background-image: url(../images/travel-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    .slider-arrows {
                    top: 225px;
                }
    &-slider {
        &__head {
            background-repeat: no-repeat;
            background-position: top left;
            min-height: 780px;
        }

        &__descr {
            margin-top: -250px;
            padding: 160px 0 0 132px;
            min-height: 320px;
            background-repeat: no-repeat;
            background-position: right center;

            .description__head{
                position: relative;
                padding-right: 78px;
                img {
                    position: absolute;
                    right: 0;
                    top: 0;
            }
            }

            

        }

        &__subtitle {
            text-align: right;
            padding: 132px 80px 0 0;
            
        }
        
        

        &__info {
            display: flex;
            justify-content: space-around;
            margin-top: 70px;
            margin-bottom: 130px;

            &-item {
                min-width: 200px;
                margin-bottom: 66px;
                position: relative;
            }

            &-subtitle {
                position: absolute;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                opacity: 0.5;
                transform: rotate(-90deg);
                white-space: nowrap;
                top: 97px;
                left: -97px;
                width: 200px;
                height: 0;
                text-align: right;
            }

            &-title {
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding-left: 40px;
                width: 242px;

                span {
                    font-size: 14px;
                    line-height: 36px;
                    display: block;
                    opacity: 0.5;
                    text-align: right;
                    letter-spacing: 5.25px;
                }
            }
        }

        &__btn {

            text-align: center;

            .btn {
                display: block;
            }
        }

    }
}























@import "media";